@page
@model OAuth2Web.Pages.InstallModel
@{
}
<div>
    <div>
        <h1>@Model._loc["AdminRegistration"]</h1>
    </div>
    <div class="helper" id="helper"></div>
    <div class="helper" id="form">
        <form method="post">

            <div>
                <div><input onkeyup="checkform()" id="email" type="text" class="helper_body text-light form-control" placeholder="@Model._loc["email"]" name="email" accept="email" /></div>
            </div>
            <div>
                <div><input onkeyup="checkform()" id="password" class="helper_body text-light form-control" placeholder="@Model._loc["password"]" type="password"  name="password" accept="email" /></div>
            </div>
            <div class="right">
                <button type="submit" 
                    name="register" 
                    id="btn-register" 
                    disabled 
                    class="btn button justify-content-center">@Model._loc["registerAdmin"]</button>
            </div>
        </form>
    </div>
</div>

<script language="javascript">
getHelp('CreateSystemAdmin', document.getElementById('helper'));

const checkform = () => {
    const btn = document.getElementById('btn-register');
    if (ValidateEmail(document.getElementById('email').value) && ValidatePassword(document.getElementById('password').value)) {
        btn.disabled = false;
    }
    else {
        btn.disabled = true;
    }
}
</script>
