@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



html {
    position: relative;
    min-height: 100%;
    background-color: #333333;
    color: #dddddd;
    font-size: 14px;
}

body {
    margin-bottom: 60px;
    background-color: #333333;
    color: #dddddd;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.content {
    padding: 20px;
    margin-top:-15px;
    border-left: 1px solid #aaaaaa;
    outline: 0px;
    border-right: 1px solid #aaaaaa;
}

.helper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #222222;
    border: 1px solid #666666;
    outline: 0px;
    border-radius: 10px;
    padding: 10px;
}

.helper_header {
    margin-bottom: 15px;
}
    